:root {
  --guitar-bg-color: #ffffff;
  --guitar-fret-color: #774300;
  --gutiar-nut-color: #3b3b3b;
  --fret-pin-color: #999999;
  --guitar-string-color: #696969;
}

html {
  font-size: 1vw; /* Base font-size set relative to viewport width */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url("./images/brickwall_bg.jpg");
  background-size: cover;
  background-color: #f0f0f0; /* Fallback background color */
}

.guitar {
  height: 30vh; /* Height relative to viewport height */
  width: 100%;
  position: relative;
}

.fretboard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 100%;
  background-color: var(--guitar-fret-color);
}

.stringContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.string {
  width: 100%;
  height: 0.2rem; /* Using rem for relative sizing */
  background-color: var(--guitar-string-color);
  position: relative;
  z-index: 1;
  margin-top: 0.9rem; /* Using rem for relative spacing */
  margin-bottom: 1rem; /* Using rem for relative spacing */
}

.fret {
  width: 8%;
  height: 100%;
  background-color: var(--guitar-fret-color);
  border-right: 0.4rem solid var(--fret-pin-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fret0 {
  width: 4%;
  background-color: var(--gutiar-nut-color);
}

.fretdot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
}

#fretdotdbl {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.notesContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.notesNutContainer {
  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notesNutContainer .noteDot {
  position: relative;
  margin-bottom: 0.4rem;
  z-index: 2000;
}

.notesNutContainer .noteDot:last-child {
  margin-bottom: 0;
}

.notesFretContainer {
  width: 8%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notesFretContainer .noteDot {
  position: relative;
  margin-bottom: 0.4rem;
  z-index: 2000;
}

.notesFretContainer .noteDot:last-child {
  margin-bottom: 0;
}